* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: roboto-thin;
  src: url(../fonts/Roboto-Thin.ttf);
}

@font-face {
  font-family: roboto-regular;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: roboto-bold;
  src: url(../fonts/Roboto-Black.ttf);
}

.navbar-main-container {
  height: 100px;
  overflow: hidden;
  background-color: #040504;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 15px;
  z-index: 100;
}

.navbar-main-container .navbar-inner-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-items: center;
  overflow: hidden;
  z-index: 100;
}

.navbar-main-container .navbar-inner-container .navbar-logo {
  font-family: roboto-thin;
  font-size: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.navbar-main-container .navbar-inner-container .navbar-logo .navbar-logo-right {
  color: #d4352a;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .navbar-nav-items-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 50px;
  font-family: roboto-thin;
  color: white;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .navbar-nav-items-inner .navbar-nav-item {
  padding: 5px 10px;
  position: relative;
  cursor: pointer;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .navbar-nav-items-inner .navbar-nav-item a {
  color: #FFF;
  text-decoration: none;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .navbar-nav-items-inner .navbar-nav-item:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 1px;
  width: 0%;
  background-color: white;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .navbar-nav-items-inner .navbar-nav-item:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 1px;
  width: 0%;
  background-color: white;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .navbar-nav-items-inner .navbar-nav-item:hover:before,
.navbar-main-container .navbar-inner-container .navbar-nav-items-container .navbar-nav-items-inner .navbar-nav-item:hover:after {
  width: 100%;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-icon {
  width: 100px;
  height: 30px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-icon .menu-icon-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  color: white;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-icon .menu-icon-text .menu-icon-still {
  width: 10px;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-icon .menu-icon-text .menu-icon-lost {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 60px;
  white-space: nowrap;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-icon .menu-icon-row {
  width: 100%;
  margin: auto;
  height: 1px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-icon .menu-icon-row-1 {
  width: 100%;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-icon .menu-icon-row-3 {
  width: 20%;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-icon:hover .menu-icon-row-1,
.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-icon:hover .menu-icon-row-3 {
  width: 50%;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-icon.active .menu-icon-row-1 {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  width: 45px;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-icon.active .menu-icon-row-3 {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  width: 45px;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-icon.active .menu-icon-text {
  opacity: 0;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-icon:hover .menu-icon-lost {
  opacity: 0;
  width: 0px;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container {
  position: fixed;
  top: -100vh;
  left: 0px;
  right: 0px;
  height: 80vh;
  -webkit-transition: top 0.4s ease-in-out;
  transition: top 0.4s ease-in-out;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-left {
  height: 100%;
  width: 50%;
  background-color: #d4352a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-left .menu-inner-left-img {
  width: 50%;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-left .menu-inner-left-img img {
  width: 100%;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right {
  height: 100%;
  width: 50%;
  position: relative;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-right-menu-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  right: 0px;
  cursor: pointer;
  height: 140px;
  width: 140px;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-right-menu-icon .menu-inner-arrow {
  background-color: #040504;
  width: 120px;
  height: 1px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-right-menu-icon .menu-inner-arrow:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-right-menu-icon .menu-inner-arrow:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-right-menu-icon:hover .menu-inner-arrow:nth-child(1) {
  -webkit-transform: rotate(45deg) scale(1.2);
          transform: rotate(45deg) scale(1.2);
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-right-menu-icon:hover .menu-inner-arrow:nth-child(2) {
  -webkit-transform: rotate(-45deg) scale(1.2);
          transform: rotate(-45deg) scale(1.2);
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-navigation-items {
  border: 0;
  height: 60%;
  width: 60%;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-navigation-items .menu-nav-items-inner {
  list-style: none;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-navigation-items .menu-nav-items-inner .menu-inner-nav-item {
  font-size: 4rem;
  font-family: roboto-thin;
  cursor: pointer;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-navigation-items .menu-nav-items-inner .menu-inner-nav-item a {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #040504;
  text-decoration: none;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-navigation-items .menu-nav-items-inner .menu-inner-nav-item:hover a {
  color: #d4352a;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 20px;
  font-family: roboto-regular;
  cursor: pointer;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-categories div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-categories div .menu-inner-category {
  font-size: 18px;
  position: relative;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-categories div .menu-inner-category:before {
  content: "";
  position: absolute;
  bottom: 0px;
  height: 1px;
  left: 0px;
  width: 0%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #d4352a;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-categories div .menu-inner-category:hover:before {
  width: 100%;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-img {
  position: absolute;
  left: -20px;
  width: 720px;
  height: 225px;
  bottom: -120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-img img {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-img .menu-inner-img-lets-talk {
  width: 300px;
  height: 100px;
  font-family: roboto-thin;
  color: white;
  font-size: 2rem;
  z-index: 2;
  padding: 10px;
  background-color: #d4352a;
  border-top-left-radius: 5px;
}

main .c-bookmark {
  -webkit-transform: rotate(-90deg) translateY(-100%);
          transform: rotate(-90deg) translateY(-100%);
  height: 4.6875rem;
  width: 13.75rem;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #e21f2c;
  color: #fff;
  -webkit-transform-origin: right top;
          transform-origin: right top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px 0 0 0;
  text-decoration: none;
  z-index: 100;
}

main .c-menu {
  width: 100%;
  height: 500px;
}

main .c-menu .c-menu-container {
  padding: 0px 10%;
  padding-top: 8.75rem;
  line-height: 1.1;
}

main .c-menu .c-menu-container h1.c-label {
  margin-bottom: 5%;
  font-family: roboto-regular;
  font-size: 12px;
  font-weight: 400;
  color: #e62b33;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  display: block;
}

main .c-menu .c-menu-container h2 {
  width: 70%;
  margin-bottom: 3.75rem;
  font-family: roboto-thin;
  font-size: 3.5rem;
  font-weight: bold;
  max-width: 1000px;
  letter-spacing: -0.02em;
}

main .c-menu .c-menu-container h2 .-red {
  color: #e62b33;
}

main .c-figure {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  border-radius: 4px;
}

main .c-figure .c-figure-image {
  width: 100%;
  margin: -150px 0;
}

main .c-section {
  height: 100vh;
  margin: 1.25rem 1.25rem 1.25rem 1.25rem;
}

main .c-section .c-section-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .c-section .c-section-container .c-section-image {
  height: 100%;
  overflow: hidden;
  border-radius: 4px;
}

main .c-section .c-section-container .c-section-image img {
  height: 110%;
  margin: -50px 0px;
}

main .c-section .c-section-about {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10%;
}

main .c-section .c-section-about .c-section-heading {
  line-height: 1.1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .c-section .c-section-about .c-section-heading h2 {
  font-family: roboto-regular;
  font-size: 12px;
  font-weight: 400;
  color: #e62b33;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding-bottom: 20px;
}

main .c-section .c-section-about .c-section-heading p {
  font-family: roboto-thin;
  font-size: 3.5rem;
  font-weight: bold;
  letter-spacing: -0.02em;
}

main .c-section .c-section-about .c-section-text {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  font-family: roboto-regular;
  font-size: 16px;
  color: #17171b;
  line-height: 1.5;
  font-weight: 300;
}

main .c-section2 {
  height: 100vh;
  position: relative;
}

main .c-section2 .c-section2-image img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

main .c-section2 .careers-join-the-team-card {
  width: 50%;
  height: 60%;
  position: absolute;
  top: -15%;
  background-color: #e62b33;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .c-section2 .careers-join-the-team-card .careers-join-the-team-card-link {
  width: 90%;
  height: 80%;
  color: #fff;
  text-decoration: none;
}

main .c-section2 .careers-join-the-team-card .careers-join-the-team-card-link .careers-card-link-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: auto;
}

main .c-section2 .careers-join-the-team-card .careers-join-the-team-card-link .careers-card-link-div h3 {
  font-family: roboto-thin;
  font-size: 36px;
}

main .c-section2 .careers-join-the-team-card .careers-join-the-team-card-link .careers-card-link-div .join-the-team-div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .c-section2 .careers-join-the-team-card .careers-join-the-team-card-link .careers-card-link-div .join-the-team-div .join-the-team {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .c-section2 .careers-join-the-team-card .careers-join-the-team-card-link .careers-card-link-div .join-the-team-div .join-the-team span {
  font-family: roboto-regular;
  font-size: 12px;
}

main .c-section3 {
  width: 100%;
  height: 70vh;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .c-section3 .c-section3-buttons {
  width: 60%;
}

main .c-section3 .c-section3-buttons li {
  border-bottom: 1px solid lightgray;
  margin-bottom: 3%;
  list-style: none;
}

main .c-section3 .c-section3-buttons li .card-button-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

main .c-section3 .c-section3-buttons li .card-button-heading span {
  font-family: roboto-thin;
  font-weight: 600;
  font-size: 25px;
}

main .c-section3 .c-section3-buttons li .card-button-heading button {
  display: block;
  border: 0px;
  background-color: transparent;
  font-family: roboto-regular;
  font-size: 25px;
}

main .c-section3 .c-section3-buttons li p {
  display: none;
  width: 80%;
  margin: auto;
  padding: 5px 0;
  font-family: roboto-thin;
  font-size: 16px;
  font-weight: 500;
}

main .c-section4 {
  width: 100%;
  height: 70vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .c-section4 .c-section4-container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  color: #fff;
}

main .c-section4 .c-section4-container .c-section4-heading {
  margin: 3%;
  font-family: robot-regular;
  font-size: 3rem;
}

main .c-section4 .c-section4-container .c-section4-text {
  margin: 3%;
  font-family: robot-regular;
  font-size: 18px;
}

main .c-section4 .c-section4-container .c-section4-button {
  background-color: #fff;
  width: 180px;
  border-radius: 5px;
  padding: 1%;
  margin: 5%;
}

main .c-section4 .c-section4-container .c-section4-button a {
  color: #17171b;
  text-decoration: none;
}

main .c-section4 .c-section4-image {
  width: 100%;
}

main .c-section4 .c-section4-image img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .navbar-main-container .navbar-inner-container .navbar-logo {
    font-size: 2rem;
  }
  .navbar-main-container .navbar-inner-container .navbar-nav-items-container .navbar-nav-items-inner {
    display: none;
  }
  .navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-left {
    display: none;
  }
  .navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right {
    width: 100%;
  }
  .navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-right-menu-icon {
    display: none;
  }
  .navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-img {
    display: none;
  }
  .navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container.menu-inner-container-on {
    position: fixed;
    top: 100px;
  }
  .c-menu {
    height: 100px;
  }
  .c-menu .c-menu-container {
    line-height: 0;
  }
  .c-menu .c-menu-container h2 span {
    font-size: 1rem;
    letter-spacing: 0;
  }
  .c-section .c-section-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .c-section .c-section-container .c-section-about {
    width: 100%;
  }
  .c-section .c-section-container .c-section-image {
    margin: auto;
  }
  .c-section .c-section-container .c-section-image img {
    width: 100;
  }
}

@media screen and (min-width: 768px) {
  .navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container.menu-inner-container-on {
    position: fixed;
    top: 0px;
  }
}
/*# sourceMappingURL=careers.css.map */