* {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: roboto-thin;
  src: url(../fonts/Roboto-Thin.ttf);
}

@font-face {
  font-family: roboto-regular;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: roboto-bold;
  src: url(../fonts/Roboto-Black.ttf);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.navbar-main-container {
  height: 100px;
  background-color: #040504;
  color: white;
}

.navbar-main-container .navbar-inner-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-items: center;
}

.navbar-main-container .navbar-inner-container .navbar-logo {
  font-family: roboto-thin;
  font-size: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar-main-container .navbar-inner-container .navbar-logo .navbar-logo-right {
  color: red;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .navbar-nav-items-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 50px;
  font-family: roboto-thin;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .navbar-nav-items-inner .navbar-nav-item {
  padding: 10px 15px;
  position: relative;
  cursor: pointer;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .navbar-nav-items-inner .navbar-nav-item a {
  text-decoration: none;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .navbar-nav-items-inner .navbar-nav-item:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 1px;
  width: 0%;
  background-color: white;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .navbar-nav-items-inner .navbar-nav-item:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 1px;
  width: 0%;
  background-color: white;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .navbar-nav-items-inner .navbar-nav-item:hover:before,
.navbar-main-container .navbar-inner-container .navbar-nav-items-container .navbar-nav-items-inner .navbar-nav-item:hover:after {
  width: 100%;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-icon {
  width: 100px;
  height: 30px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-icon .menu-icon-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-icon .menu-icon-text .menu-icon-still {
  width: 10px;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-icon .menu-icon-text .menu-icon-lost {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 60px;
  white-space: nowrap;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-icon .menu-icon-row {
  width: 100%;
  margin: auto;
  height: 1px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-icon .menu-icon-row-1 {
  width: 100%;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-icon .menu-icon-row-3 {
  width: 20%;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-icon:hover .menu-icon-row-1,
.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-icon:hover .menu-icon-row-3 {
  width: 50%;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-icon.active .menu-icon-row-1 {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  width: 45px;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-icon.active .menu-icon-row-3 {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  width: 45px;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-icon.active .menu-icon-text {
  opacity: 0;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-icon:hover .menu-icon-lost {
  opacity: 0;
  width: 0px;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container {
  position: fixed;
  top: 100px;
  left: 0px;
  right: 0px;
  height: 80vh;
  -webkit-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
  background-color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-left {
  height: 100%;
  width: 50%;
  background-color: #d4352a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-left .menu-inner-left-img {
  width: 50%;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-left .menu-inner-left-img img {
  width: 100%;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right {
  height: 100%;
  width: 50%;
  position: relative;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-right-menu-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  right: 0px;
  cursor: pointer;
  height: 140px;
  width: 140px;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-right-menu-icon .menu-inner-arrow {
  background-color: white;
  width: 120px;
  height: 1px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-right-menu-icon .menu-inner-arrow:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-right-menu-icon .menu-inner-arrow:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-right-menu-icon:hover .menu-inner-arrow {
  width: 140px;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-navigation-items {
  border: 1px solid black;
  height: 60%;
  width: 60%;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-navigation-items .menu-nav-items-inner {
  list-style: none;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-navigation-items .menu-nav-items-inner .menu-inner-nav-item {
  font-size: 36px;
  font-family: roboto-regular;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-navigation-items .menu-nav-items-inner .menu-inner-nav-item a {
  text-decoration: none;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-navigation-items .menu-nav-items-inner .menu-inner-nav-item:hover {
  color: #d4352a;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid black;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 20px;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-categories div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-categories div .menu-inner-category {
  font-size: 18px;
  position: relative;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-categories div .menu-inner-category:before {
  content: "";
  position: absolute;
  bottom: 0px;
  height: 1px;
  left: 0px;
  width: 0%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #d4352a;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-categories div .menu-inner-category:hover:before {
  width: 100%;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container.menu-inner-container-on {
  position: fixed;
  top: -100vh;
}

body {
  font-family: 'roboto-regular', sans-serif;
}

body main {
  font-family: 'Roboto', sans-serif;
}

body main section#home_problem .home-problem-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem;
}

body main section#home_problem .home-problem-container .home-problem-text-content {
  width: 60%;
}

body main section#home_problem .home-problem-container .home-problem-text-content .home-problem-text-content-title {
  padding: 7rem;
}

body main section#home_problem .home-problem-container .home-problem-text-content .home-problem-text-content-title h1 {
  font-size: 2.4rem;
  font-weight: 300;
  color: #17171B;
  line-height: 2.6rem;
  margin-bottom: 3rem;
}

body main section#home_problem .home-problem-container .home-problem-text-content .home-problem-text-content-title h1 span {
  color: #d4352a;
  font-size: .875rem;
  font-weight: 400;
  margin-right: 32%;
}

body main section#home_problem .home-problem-container .home-problem-text-content .home-problem-text-content-title p {
  font-weight: 400;
  font-size: .725rem;
  color: #17171B;
  opacity: .75;
}

body main section#home_problem .home-problem-container .home-problem-text-content .home-problem-text-content-context {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main section#home_problem .home-problem-container .home-problem-text-content .home-problem-text-content-context p {
  width: 25%;
  color: #17171B;
  opacity: .75;
  margin-right: 1rem;
  line-height: 1.5rem;
}

body main section#home_problem .home-problem-container .home-problem-image-content {
  width: 40%;
}

body main section#home_problem .home-problem-container .home-problem-image-content img {
  width: 100%;
  height: auto;
}

body main section#home_solution .home-solution-container {
  padding: 1rem;
}

body main section#home_solution .home-solution-container .home-solution-content {
  width: 85%;
}

body main section#home_solution .home-solution-container .home-solution-content .home-solution-content-title {
  padding: 7rem 7rem 0 7rem;
}

body main section#home_solution .home-solution-container .home-solution-content .home-solution-content-title h1 {
  font-size: 3.4rem;
  font-weight: 300;
  color: #17171B;
  line-height: 3.6rem;
  margin-bottom: 3rem;
}

body main section#home_solution .home-solution-container .home-solution-content .home-solution-content-title h1 span {
  color: #d4352a;
  font-size: .875rem;
  font-weight: 400;
  margin-right: 12%;
}

body main section#home_solution .home-solution-container .home-solution-content .home-solution-content-context {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 0 7rem;
}

body main section#home_solution .home-solution-container .home-solution-content .home-solution-content-context p {
  width: 23%;
  color: #17171B;
  opacity: .75;
  margin-right: 1rem;
  line-height: 1.5rem;
}

body main section#home_solution .home-solution-container .home-solution-content .home-solution-content-context p:first-child {
  margin-left: 7rem;
}

body main section#home_solution .home-solution-container .home-solution-content .home-solution-content-context p a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: .875rem 1.5rem;
  outline: none;
  font-size: .875rem;
  border: 1px solid #DDD;
  border-radius: .3rem;
  color: #17171B;
  margin-top: 3rem;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

body main section#home_solution .home-solution-container .home-solution-content .home-solution-content-context p a:hover {
  background-color: #DDD;
}

body main section#home_video {
  margin: 7rem 0;
  width: 100%;
  height: 100vh;
}

body main section#home_video video {
  width: 100%;
  height: auto;
}

body main section#home_statistics_cards {
  padding: 8rem;
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body main section#home_statistics_cards .home-statistics-card {
  background-color: #FFF;
  width: 48%;
  border-radius: .3rem;
  margin-bottom: 3rem;
}

body main section#home_statistics_cards .home-statistics-card .home-statistics-card-top {
  padding: 2rem 1.5rem;
  height: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main section#home_statistics_cards .home-statistics-card .home-statistics-card-top .home-statistics-card-tag {
  color: #17171B;
}

body main section#home_statistics_cards .home-statistics-card .home-statistics-card-top .home-statistics-card-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main section#home_statistics_cards .home-statistics-card .home-statistics-card-top .home-statistics-card-value i {
  font-size: 3.125rem;
  color: #d4352a;
}

body main section#home_statistics_cards .home-statistics-card .home-statistics-card-top .home-statistics-card-value span {
  color: #17171B;
  font-size: 6rem;
  font-weight: 300;
}

body main section#home_statistics_cards .home-statistics-card .home-statistics-card-separator {
  background-color: #DDD;
  height: 1px;
  width: 100%;
}

body main section#home_statistics_cards .home-statistics-card .home-statistics-card-bottom {
  padding: 2rem 1.5rem;
}

body main section#home_statistics_cards .home-statistics-card .home-statistics-card-bottom p {
  width: 60%;
  font-size: 1.5rem;
  color: #17171B;
}

body main section#home_invitation {
  width: 100%;
  height: 100vh;
  background-image: url("../images/tommy-chen-6omu1YwBm5k-unsplash_1.jpg");
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body main section#home_invitation .home-invitation-title {
  width: 50%;
  padding: 7rem;
}

body main section#home_invitation .home-invitation-title h2 {
  font-size: 2.875rem;
  font-family: 'roboto-thin', sans-serif;
  color: #FFF;
  margin-bottom: 4rem;
}

body main section#home_invitation .home-invitation-title a {
  color: #17171B;
  background-color: #FFF;
  border-radius: .3rem;
  padding: 1.25rem;
  font-size: 0.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

body main section#home_invitation .home-invitation-title a:hover {
  background-color: #DDD;
}

body main section#home_invitation a.home-invitation-card-link:hover .home-invitation-card {
  background-color: #962b23;
}

body main section#home_invitation .home-invitation-card {
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
  width: 50%;
  height: 25rem;
  background-color: #d4352a;
  position: absolute;
  top: -5rem;
  left: 0;
  border-radius: .3rem;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main section#home_invitation .home-invitation-card p {
  width: 80%;
  color: #FFF;
  font-size: 2.5rem;
}

body main section#home_invitation .home-invitation-card button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  width: 40%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #FFF;
  background-color: transparent;
  border: none;
}

body footer {
  margin-top: 2rem;
  border-top: 1px solid #DDD;
}

body footer section#footer_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 2rem;
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
}

body footer section#footer_links .footer-join-newsletter {
  height: 100vh;
  padding: 2rem;
  width: 40%;
}

body footer section#footer_links .footer-join-newsletter h2 {
  width: 60%;
  font-family: 'roboto-thin', sans-serif;
  font-size: 2.125rem;
  margin: 0 auto;
}

body footer section#footer_links .footer-join-newsletter h2 span {
  color: #d4352a;
}

body footer section#footer_links .footer-join-newsletter p {
  width: 60%;
  margin: 2rem auto;
}

body footer section#footer_links .footer-join-newsletter .footer-join-newsletter-input-group {
  width: 60%;
  margin: 0 auto;
  position: relative;
}

body footer section#footer_links .footer-join-newsletter .footer-join-newsletter-input-group input {
  font-size: 1.125rem;
  padding: 1.5rem;
  width: 100%;
  border: 1px solid #DDD;
  outline: none;
  border-radius: .3rem;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

body footer section#footer_links .footer-join-newsletter .footer-join-newsletter-input-group input:focus {
  border-color: #d4352a;
}

body footer section#footer_links .footer-join-newsletter .footer-join-newsletter-input-group button {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1rem 1.875rem;
  width: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  height: 100%;
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
  border-left: 1px solid #DDD;
  background-color: transparent;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

body footer section#footer_links .footer-join-newsletter .footer-join-newsletter-input-group button:hover {
  background-color: #d4352a;
  color: #FFF;
}

body footer section#footer_links .footer-navigation {
  width: 60%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-left: 1px solid #DDD;
}

body footer section#footer_links .footer-navigation .footer-navigation-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 75%;
  border-bottom: 1px solid #DDD;
}

body footer section#footer_links .footer-navigation .footer-navigation-links .footer-navigation-major-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
  width: 50%;
}

body footer section#footer_links .footer-navigation .footer-navigation-links .footer-navigation-major-links ul li {
  margin-bottom: 1.5rem;
}

body footer section#footer_links .footer-navigation .footer-navigation-links .footer-navigation-major-links ul li a {
  font-size: 2rem;
  color: #17171B;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

body footer section#footer_links .footer-navigation .footer-navigation-links .footer-navigation-major-links ul li a:hover {
  color: #d4352a;
}

body footer section#footer_links .footer-navigation .footer-navigation-links .footer-navigation-secondary-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  padding: 2rem;
  width: 50%;
}

body footer section#footer_links .footer-navigation .footer-navigation-links .footer-navigation-secondary-links ul {
  margin-bottom: 4rem;
}

body footer section#footer_links .footer-navigation .footer-navigation-links .footer-navigation-secondary-links ul li {
  margin-bottom: 1rem;
}

body footer section#footer_links .footer-navigation .footer-navigation-links .footer-navigation-secondary-links a {
  font-size: 1rem;
  color: #17171B;
  position: relative;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

body footer section#footer_links .footer-navigation .footer-navigation-links .footer-navigation-secondary-links a::after {
  content: ' ';
  background-color: #17171B;
  position: absolute;
  width: 0%;
  height: 1px;
  left: 0;
  bottom: 0;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

body footer section#footer_links .footer-navigation .footer-navigation-links .footer-navigation-secondary-links a:hover::after {
  width: 100%;
}

body footer section#footer_links .footer-navigation .footer-social-medial-buttons {
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body footer section#footer_links .footer-navigation .footer-social-medial-buttons .footer-terms-of-service {
  width: 50%;
}

body footer section#footer_links .footer-navigation .footer-social-medial-buttons .footer-terms-of-service a {
  font-size: 1rem;
  color: #17171B;
  position: relative;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

body footer section#footer_links .footer-navigation .footer-social-medial-buttons .footer-terms-of-service a::after {
  content: ' ';
  background-color: #17171B;
  position: absolute;
  width: 0%;
  height: 1px;
  left: 0;
  bottom: 0;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

body footer section#footer_links .footer-navigation .footer-social-medial-buttons .footer-terms-of-service a:hover::after {
  width: 100%;
}

body footer section#footer_links .footer-navigation .footer-social-medial-buttons .footer-social-media-links {
  width: 50%;
}

body footer section#footer_links .footer-navigation .footer-social-medial-buttons .footer-social-media-links ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body footer section#footer_links .footer-navigation .footer-social-medial-buttons .footer-social-media-links ul li {
  color: #17171B;
}

body footer section#footer_copyright {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .navbar-main-container .navbar-inner-container .navbar-logo {
    font-size: 2rem;
  }
  .navbar-main-container .navbar-inner-container .navbar-nav-items-container .navbar-nav-items-inner {
    display: none;
  }
  .navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container {
    top: 100px;
  }
  .navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-left {
    display: none;
  }
  .navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right {
    width: 100%;
  }
  .navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-right-menu-icon {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container {
    top: 0px;
  }
}

@media screen and (max-width: 1200px) {
  body main section#home_invitation {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body main section#home_invitation .home-invitation-title {
    width: 80%;
    padding: 2rem;
    margin-top: 30rem;
  }
  body main section#home_invitation .home-invitation-title a {
    width: 50%;
  }
  body main section#home_invitation .home-invitation-card {
    width: 100%;
    top: 0;
    left: 0;
  }
}

@media screen and (max-width: 992px) {
  body main section#home_problem .home-problem-container {
    width: 100%;
  }
  body main section#home_problem .home-problem-container .home-problem-text-content {
    width: 100%;
  }
  body main section#home_problem .home-problem-container .home-problem-text-content .home-problem-text-content-title {
    padding: 7rem 0;
  }
  body main section#home_problem .home-problem-container .home-problem-text-content .home-problem-text-content-title h1 {
    width: 80%;
    margin-bottom: 3rem;
  }
  body main section#home_problem .home-problem-container .home-problem-text-content .home-problem-text-content-title h1 span {
    margin-right: 0;
    display: block;
  }
  body main section#home_problem .home-problem-container .home-problem-text-content .home-problem-text-content-context {
    display: block;
  }
  body main section#home_problem .home-problem-container .home-problem-text-content .home-problem-text-content-context p {
    width: 80%;
    margin-right: 0;
  }
  body main section#home_problem .home-problem-container .home-problem-text-content .home-problem-text-content-context p:last-child {
    margin-bottom: 5rem;
  }
  body main section#home_problem .home-problem-container .home-problem-image-content {
    width: 100%;
  }
  body main section#home_solution .home-solution-container .home-solution-content .home-solution-content-title {
    padding: 0;
  }
  body main section#home_solution .home-solution-container .home-solution-content .home-solution-content-title h1 span {
    display: block;
    margin-right: 0;
  }
  body main section#home_solution .home-solution-container .home-solution-content .home-solution-content-context {
    display: block;
    padding: 0;
  }
  body main section#home_solution .home-solution-container .home-solution-content .home-solution-content-context p {
    width: 100%;
    margin-right: 0;
  }
  body main section#home_solution .home-solution-container .home-solution-content .home-solution-content-context p:first-child {
    margin-left: 0;
  }
  body main section#home_solution .home-solution-container .home-solution-content .home-solution-content-context p a {
    margin-bottom: 3rem;
  }
  body main section#home_video {
    overflow: hidden;
    height: auto;
  }
  body main section#home_statistics_cards {
    padding: 1rem;
  }
  body main section#home_statistics_cards .home-statistics-card {
    width: 100%;
  }
  body main section#home_statistics_cards .home-statistics-card .home-statistics-card-bottom p {
    width: 100%;
  }
  body footer section#footer_links .footer-join-newsletter {
    width: 100%;
    height: auto;
  }
  body footer section#footer_links .footer-join-newsletter h2 {
    width: 100%;
  }
  body footer section#footer_links .footer-join-newsletter p {
    width: 100%;
  }
  body footer section#footer_links .footer-join-newsletter .footer-join-newsletter-input-group {
    width: 100%;
  }
  body footer section#footer_links .footer-navigation {
    width: 100%;
  }
  body footer section#footer_links .footer-navigation .footer-navigation-links .footer-navigation-major-links {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  body footer section#footer_links .footer-navigation .footer-social-medial-buttons .footer-social-media-links ul {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body footer section#footer_links .footer-navigation .footer-social-medial-buttons .footer-social-media-links ul li {
    margin-right: 1.5rem;
  }
}

@media screen and (max-width: 576px) {
  body main section#home_problem .home-problem-container .home-problem-text-content .home-problem-text-content-title h1 {
    width: 100%;
  }
  body main section#home_problem .home-problem-container .home-problem-text-content .home-problem-text-content-context {
    display: block;
  }
  body main section#home_problem .home-problem-container .home-problem-text-content .home-problem-text-content-context p {
    width: 100%;
  }
  body main section#home_solution {
    margin-bottom: 7rem;
  }
  body main section#home_solution .home-solution-container .home-solution-content {
    width: 100%;
  }
  body main section#home_invitation {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body main section#home_invitation .home-invitation-title {
    width: 100%;
  }
  body main section#home_invitation .home-invitation-title a {
    width: 100%;
  }
  body footer section#footer_links .footer-navigation .footer-navigation-links {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body footer section#footer_links .footer-navigation .footer-navigation-links .footer-navigation-major-links {
    width: 100%;
  }
  body footer section#footer_links .footer-navigation .footer-navigation-links .footer-navigation-secondary-links {
    width: 100%;
    margin-bottom: 2rem;
  }
  body footer section#footer_links .footer-navigation .footer-social-medial-buttons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body footer section#footer_links .footer-navigation .footer-social-medial-buttons .footer-terms-of-service {
    width: 100%;
  }
  body footer section#footer_links .footer-navigation .footer-social-medial-buttons .footer-social-media-links {
    width: 100%;
  }
  body footer section#footer_links .footer-navigation .footer-social-medial-buttons .footer-social-media-links .footer-social-medial-buttons .footer-terms-of-service {
    margin-bottom: 2rem;
  }
}
/*# sourceMappingURL=index.css.map */