* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: roboto-thin;
  src: url(../fonts/Roboto-Thin.ttf);
}
@font-face {
  font-family: roboto-regular;
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: roboto-bold;
  src: url(../fonts/Roboto-Black.ttf);
}

.navbar-main-container {
  height: 100px;
  overflow: hidden;
  background-color: #040504;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 15px;
  z-index: 100;
  .navbar-inner-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    z-index: 100;
    .navbar-logo {
      font-family: roboto-thin;
      font-size: 3rem;
      display: flex;
      justify-content: center;
      color: white;
      .navbar-logo-right {
        color: #d4352a;
      }
    }
    .navbar-nav-items-container {
      display: flex;
      gap: 100px;
      align-items: center;
      .navbar-nav-items-inner {
        display: flex;
        list-style: none;
        gap: 50px;
        font-family: roboto-thin;
        color: white;
        .navbar-nav-item {
          padding: 5px 10px;
          position: relative;
          cursor: pointer;
          a {
            text-decoration: none;
          }
        }
        .navbar-nav-item:before {
          content: "";
          position: absolute;
          top: 0px;
          left: 0px;
          height: 1px;
          width: 0%;
          background-color: white;
          transition: 0.6s;
        }
        .navbar-nav-item:after {
          content: "";
          position: absolute;
          bottom: 0px;
          left: 0px;
          height: 1px;
          width: 0%;
          background-color: white;
          transition: 0.2s ease-out;
        }
        .navbar-nav-item:hover:before,
        .navbar-nav-item:hover:after {
          width: 100%;
        }
      }
      .menu-main-container {
        .menu-icon {
          width: 100px;
          height: 30px;
          cursor: pointer;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: column;
          .menu-icon-text {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            color: white;
            .menu-icon-still {
              width: 10px;
            }
            .menu-icon-lost {
              transition: 0.4s;
              width: 60px;
              white-space: nowrap;
            }
          }
          .menu-icon-row {
            width: 100%;
            margin: auto;
            height: 1px;
            background-color: white;
            transition: 0.4s;
            transform-origin: left;
          }
          .menu-icon-row-1 {
            width: 100%;
          }
          .menu-icon-row-3 {
            width: 20%;
          }
        }
        .menu-icon:hover {
          .menu-icon-row-1,
          .menu-icon-row-3 {
            width: 50%;
          }
        }

        .menu-icon.active {
          .menu-icon-row-1 {
            transform: rotate(40deg);
            width: 45px;
          }
          .menu-icon-row-3 {
            transform: rotate(-40deg);
            width: 45px;
          }
          .menu-icon-text {
            opacity: 0;
          }
        }
        .menu-icon:hover {
          .menu-icon-lost {
            opacity: 0;
            width: 0px;
          }
        }
        .menu-inner-container {
          position: fixed;
          top: -100vh;
          left: 0px;
          right: 0px;
          height: 80vh;
          transition: top 0.4s ease-in-out;
          background-color: white;
          display: flex;
          .menu-inner-left {
            height: 100%;
            width: 50%;
            background-color: #d4352a;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .menu-inner-left-img {
              width: 50%;
              img {
                width: 100%;
              }
            }
          }
          .menu-inner-right {
            height: 100%;
            width: 50%;
            position: relative;
            .menu-inner-right-menu-icon {
              display: flex;
              justify-content: center;
              align-items: center;
              position: absolute;
              flex-direction: column;
              right: 0px;
              cursor: pointer;
              height: 140px;
              width: 140px;
              .menu-inner-arrow {
                background-color: #040504;
                width: 120px;
                height: 1px;
                transform: scale(1);
                transition: 0.4s;
              }
              .menu-inner-arrow:nth-child(1) {
                transform: rotate(45deg);
              }
              .menu-inner-arrow:nth-child(2) {
                transform: rotate(-45deg);
              }
            }
            .menu-inner-right-menu-icon:hover {
              .menu-inner-arrow:nth-child(1) {
                transform: rotate(45deg) scale(1.2);
              }
              .menu-inner-arrow:nth-child(2) {
                transform: rotate(-45deg) scale(1.2);
              }
            }
            .menu-inner-navigation-items {
              border: 0;
              height: 60%;
              width: 60%;
              .menu-nav-items-inner {
                list-style: none;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                .menu-inner-nav-item {
                  font-size: 4rem;
                  font-family: roboto-thin;
                  transition: 0.4s;
                  cursor: pointer;
                  a {
                    text-decoration: none;
                  }
                }
                .menu-inner-nav-item:hover {
                  color: #d4352a;
                }
              }
            }
            .menu-inner-categories {
              display: flex;
              margin-top: 50px;
              width: 100%;
              justify-content: space-evenly;
              padding: 20px;
              font-family: roboto-regular;
              cursor: pointer;
              div {
                display: flex;
                flex-direction: column;
                gap: 10px;
                .menu-inner-category {
                  font-size: 18px;
                  position: relative;
                }
                .menu-inner-category:before {
                  content: "";
                  position: absolute;
                  bottom: 0px;
                  height: 1px;
                  left: 0px;
                  width: 0%;
                  transition: 0.4s;
                  background-color: #d4352a;
                }
                .menu-inner-category:hover:before {
                  width: 100%;
                }
              }
            }
            .menu-inner-img {
              position: absolute;
              left: -20px;
              width: 720px;
              height: 225px;
              bottom: -120px;
              display: flex;
              justify-content: flex-end;
              align-items: flex-end;
              img {
                width: 100%;
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                z-index: 2;
              }
              .menu-inner-img-lets-talk {
                width: 300px;
                height: 100px;
                font-family: roboto-thin;
                color: white;
                font-size: 2rem;
                z-index: 3;
                padding: 10px;
                background-color: #d4352a;
                border-top-left-radius: 5px;
              }
            }
          }
        }
      }
    }
  }
}

.sus-first-text {
  font-size: 150px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;

  .sus-text-were {
    padding-left: 10%;
    padding-top: 10%;
    text-align: center;
  }

  .sus-text-business {
    padding-left: 22%;
  }

  .sus-text-heal {
    color: #d4352a;
    padding-left: 50%;
  }

  .sus-text-our {
    padding-left: 22%;
  }

  .sus-text-planet {
    padding-left: 50%;
  }
}

@media (min-width: 370px) and (max-width: 800px) {
  .sus-first-text {
    font-size: 70px;
  }
}

.sus-second-text {
  font-size: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 5%;

  .sus-text-weBring {
    padding-top: 30%;
  }

  .sus-text-weGrowing {
    padding-top: 5%;
  }
}

@media (min-width: 370px) and (max-width: 800px) {
  .sus-second-text {
    font-size: 30px;
  }
}

.sus-textImage {
  height: 200vh;

  .sus-textImage-1 {
    display: flex;
    height: 50%;

    .sus-Increase-text {
      width: 50%;
      height: 100%;
      padding-top: 40%;
      padding-left: 10%;
      font-family: Verdana, Geneva, Tahoma, sans-serif;

      .sus-why {
        color: #d4352a;
        padding-bottom: 5%;
      }

      .sus-Increase {
        font-size: 60px;
      }

      .sus-raise {
        color: #5e5e5e;
        font-size: 20px;
        padding-right: 40%;
        padding-top: 5%;
      }
    }

    .sus-Increase-image {
      padding-top: 20%;

      .sus-image1 {
        width: 800px;
      }
    }
  }

  @media (min-width: 370px) and (max-width: 800px) {
    .sus-textImage-1 {
      display: block;

      .sus-Increase-image {
        .sus-image1 {
          width: 470px;
        }
      }
    }
  }

  .sus-textImage-3 {
    display: flex;
    height: 50%;

    .sus-Satisfy-text {
      width: 50%;
      height: 100%;
      padding-top: 40%;
      padding-left: 10%;
      font-family: Verdana, Geneva, Tahoma, sans-serif;

      .sus-why {
        color: #d4352a;
        padding-top: 50%;
        padding-bottom: 5%;
      }

      @media (min-width: 370px) and (max-width: 800px) {
        .sus-why {
          padding-top: 500px;
        }
      }

      .sus-Satisfy {
        font-size: 60px;
      }

      @media (min-width: 370px) and (max-width: 800px) {
        .sus-Satisfy {
          font-size: 30px;
          padding-top: 10px;
        }
      }

      .sus-ensure {
        color: #5e5e5e;
        font-size: 20px;
        padding-right: 40%;
        padding-top: 5%;
      }
    }

    .sus-Satisfy-image {
      padding-top: 40%;

      .sus-image3 {
        width: 800px;
      }
    }
  }

  @media (min-width: 370px) and (max-width: 800px) {
    .sus-textImage-3 {
      display: block;

      .sus-Satisfy-image {
        .sus-image3 {
          width: 470px;
          padding-top: 30%;
        }
      }
    }
  }
}

.sus-climate-action {
  padding-top: 85%;
  position: relative;

  .sus-climate {
    padding-left: 10%;
    color: #d4352a;
  }

  @media (min-width: 370px) and (max-width: 800px) {
    .sus-climate {
      padding-left: 10%;
      color: #d4352a;
    }
  }

  .sus-exceed {
    font-size: 60px;
    padding-left: 10%;
    padding-top: 7%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  @media (min-width: 370px) and (max-width: 800px) {
    .sus-exceed {
      font-size: 20px;
      padding-left: 10%;
      padding-top: 80%;
    }
  }

  .sus-with {
    padding-left: 23%;
  }

  .sus-decrease {
    color: #5e5e5e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    padding-right: 10%;
    padding-left: 60%;
    padding-top: 20%;
  }

  @media (min-width: 370px) and (max-width: 800px) {
    .sus-decrease {
      font-size: 10px;
      padding-left: 60%;
      padding-top: 40%;
    }
  }
}



.sus-toggle-main {
  margin-left: 15%;
  padding-top: 10%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  .sus-check {
    width: 30px;
  }

  .sus-toggle-item-text {
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    font-size: 25px;
    padding-left: 30px;
    transition: all 0.5s ease 0s;
  }

  .sus-toggle-item-inner {
    display: none;
    margin-left: 3%;
    padding-top: 2%;
    font-size: 25px;
  }

  .sus-button-onclick {
    margin-left: 60%;
    margin-top: 5%;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 40px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.5s ease 0s;
  }

  @media (min-width: 370px) and (max-width: 800px) {
    .sus-button-onclick {
      margin-left: 4%;
    }
  }

  .sus-button-onclick1 {
    margin-left: 50.5%;
    margin-top: 5%;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 40px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.5s ease 0s;
  }

  @media (min-width: 370px) and (max-width: 800px) {
    .sus-button-onclick1 {
      margin-left: 5%;
    }
  }

  .sus-button-onclick:hover {
    color: #d4352a;
  }

  .sus-button-onclick1:hover {
    color: #d4352a;
  }

  .sus-toggle-item-text:hover {
    color: #d4352a;
  }
}

.sus-textImage2 {
  padding-left: 40%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  .sus-text-our {
    font-size: 50px;
    padding-top: 30%;
  }

  @media (min-width: 370px) and (max-width: 800px) {
    .sus-text-our {
      font-size: 25px;
      padding-top: 30%;
    }
  }

  .sus-our {
    padding-left: 25%;
  }

  .sus-img-venne {
    width: 150px;
    border-radius: 5%;
    padding-top: 10%;
  }

  .sus-nameVenne {
    font-size: 25px;
  }

  .sus-co-founder {
    font-size: 15px;
    color: #5e5e5e;
    padding-left: 14%;
  }
}

.sus-sustainability-lidership {
  padding-top: 10%;
  padding-bottom: 10%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  .sus-lidership {
    color: #d4352a;
    padding-left: 10%;
  }

  .sus-our-impact {
    font-size: 60px;
    padding-left: 5%;
    padding-top: 7%;
  }

  @media (min-width: 370px) and (max-width: 800px) {
    .sus-our-impact {
      font-size: 25px;
      padding-left: 5%;
      padding-top: 7%;
      padding-bottom: 10%;
    }
  }

  .sus-collab {
    padding-left: 10%;
  }
}

.sus-talk {
  position: relative;

  .sus-save-time {
    background-color: #d4352a;
    color: #fff;
    font-size: 40px;
    display: flex;
    width: 50%;
    position: absolute;
    top: -50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 2% 13% 15% 2%;
  }

  @media (min-width: 370px) and (max-width: 800px) {
    .sus-save-time {
      font-size: 10px;
    }
  }

  .sus-image-lance {
    width: 100%;
  }

  @media (min-width: 370px) and (max-width: 800px) {
    .sus-image-lance {
      width: 470px;
    }
  }
}
@media (min-width: 370px) and (max-width: 800px) {
    .sus-climate-action {
      padding-top: 900px;
    }
  }
@media screen and (max-width: 768px) {
    .navbar-main-container {
      .navbar-inner-container {
        .navbar-logo {
          font-size: 2rem;
        }
        .navbar-nav-items-container {
          .navbar-nav-items-inner {
            display: none;
          }
          .menu-main-container {
            .menu-inner-container {
              .menu-inner-left {
                display: none;
              }
              .menu-inner-right {
                width: 100%;
                .menu-inner-right-menu-icon {
                  display: none;
                }
                .menu-inner-img {
                  display: none;
                }
              }
            }
            .menu-inner-container.menu-inner-container-on {
              position: fixed;
              top: 100px;
            }
          }
        }
      }
    }
  }