* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: roboto-thin;
  src: url(../fonts/Roboto-Thin.ttf);
}

@font-face {
  font-family: roboto-regular;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: roboto-bold;
  src: url(../fonts/Roboto-Black.ttf);
}

.navbar-main-container {
  height: 100px;
  overflow: hidden;
  background-color: #040504;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 15px;
  z-index: 100;
}

.navbar-main-container .navbar-inner-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-items: center;
  overflow: hidden;
  z-index: 100;
}

.navbar-main-container .navbar-inner-container .navbar-logo {
  font-family: roboto-thin;
  font-size: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.navbar-main-container .navbar-inner-container .navbar-logo .navbar-logo-right {
  color: #d4352a;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .navbar-nav-items-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 50px;
  font-family: roboto-thin;
  color: white;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .navbar-nav-items-inner .navbar-nav-item {
  padding: 5px 10px;
  position: relative;
  cursor: pointer;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .navbar-nav-items-inner .navbar-nav-item a {
  color: #FFF;
  text-decoration: none;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .navbar-nav-items-inner .navbar-nav-item:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 1px;
  width: 0%;
  background-color: white;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .navbar-nav-items-inner .navbar-nav-item:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 1px;
  width: 0%;
  background-color: white;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .navbar-nav-items-inner .navbar-nav-item:hover:before,
.navbar-main-container .navbar-inner-container .navbar-nav-items-container .navbar-nav-items-inner .navbar-nav-item:hover:after {
  width: 100%;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-icon {
  width: 100px;
  height: 30px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-icon .menu-icon-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  color: white;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-icon .menu-icon-text .menu-icon-still {
  width: 10px;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-icon .menu-icon-text .menu-icon-lost {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 60px;
  white-space: nowrap;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-icon .menu-icon-row {
  width: 100%;
  margin: auto;
  height: 1px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-icon .menu-icon-row-1 {
  width: 100%;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-icon .menu-icon-row-3 {
  width: 20%;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-icon:hover .menu-icon-row-1,
.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-icon:hover .menu-icon-row-3 {
  width: 50%;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-icon.active .menu-icon-row-1 {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  width: 45px;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-icon.active .menu-icon-row-3 {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  width: 45px;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-icon.active .menu-icon-text {
  opacity: 0;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-icon:hover .menu-icon-lost {
  opacity: 0;
  width: 0px;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container {
  position: fixed;
  top: -100vh;
  left: 0px;
  right: 0px;
  height: 80vh;
  -webkit-transition: top 0.4s ease-in-out;
  transition: top 0.4s ease-in-out;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-left {
  height: 100%;
  width: 50%;
  background-color: #d4352a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-left .menu-inner-left-img {
  width: 50%;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-left .menu-inner-left-img img {
  width: 100%;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right {
  height: 100%;
  width: 50%;
  position: relative;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-right-menu-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  right: 0px;
  cursor: pointer;
  height: 140px;
  width: 140px;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-right-menu-icon .menu-inner-arrow {
  background-color: #040504;
  width: 120px;
  height: 1px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-right-menu-icon .menu-inner-arrow:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-right-menu-icon .menu-inner-arrow:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-right-menu-icon:hover .menu-inner-arrow:nth-child(1) {
  -webkit-transform: rotate(45deg) scale(1.2);
          transform: rotate(45deg) scale(1.2);
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-right-menu-icon:hover .menu-inner-arrow:nth-child(2) {
  -webkit-transform: rotate(-45deg) scale(1.2);
          transform: rotate(-45deg) scale(1.2);
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-navigation-items {
  border: 0;
  height: 60%;
  width: 60%;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-navigation-items .menu-nav-items-inner {
  list-style: none;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-navigation-items .menu-nav-items-inner .menu-inner-nav-item {
  font-size: 4rem;
  font-family: roboto-thin;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-navigation-items .menu-nav-items-inner .menu-inner-nav-item a {
  text-decoration: none;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-navigation-items .menu-nav-items-inner .menu-inner-nav-item:hover {
  color: #d4352a;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 20px;
  font-family: roboto-regular;
  cursor: pointer;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-categories div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-categories div .menu-inner-category {
  font-size: 18px;
  position: relative;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-categories div .menu-inner-category:before {
  content: "";
  position: absolute;
  bottom: 0px;
  height: 1px;
  left: 0px;
  width: 0%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #d4352a;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-categories div .menu-inner-category:hover:before {
  width: 100%;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-img {
  position: absolute;
  left: -20px;
  width: 720px;
  height: 225px;
  bottom: -120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-img img {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
}

.navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-img .menu-inner-img-lets-talk {
  width: 300px;
  height: 100px;
  font-family: roboto-thin;
  color: white;
  font-size: 2rem;
  z-index: 3;
  padding: 10px;
  background-color: #d4352a;
  border-top-left-radius: 5px;
}

.sus-first-text {
  font-size: 150px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
}

.sus-first-text .sus-text-were {
  padding-left: 10%;
  padding-top: 10%;
  text-align: center;
}

.sus-first-text .sus-text-business {
  padding-left: 22%;
}

.sus-first-text .sus-text-heal {
  color: #d4352a;
  padding-left: 50%;
}

.sus-first-text .sus-text-our {
  padding-left: 22%;
}

.sus-first-text .sus-text-planet {
  padding-left: 50%;
}

@media (min-width: 370px) and (max-width: 800px) {
  .sus-first-text {
    font-size: 70px;
  }
}

.sus-second-text {
  font-size: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 5%;
}

.sus-second-text .sus-text-weBring {
  padding-top: 30%;
}

.sus-second-text .sus-text-weGrowing {
  padding-top: 5%;
}

@media (min-width: 370px) and (max-width: 800px) {
  .sus-second-text {
    font-size: 30px;
  }
}

.sus-textImage {
  height: 200vh;
}

.sus-textImage .sus-textImage-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50%;
}

.sus-textImage .sus-textImage-1 .sus-Increase-text {
  width: 50%;
  height: 100%;
  padding-top: 40%;
  padding-left: 10%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sus-textImage .sus-textImage-1 .sus-Increase-text .sus-why {
  color: #d4352a;
  padding-bottom: 5%;
}

.sus-textImage .sus-textImage-1 .sus-Increase-text .sus-Increase {
  font-size: 60px;
}

.sus-textImage .sus-textImage-1 .sus-Increase-text .sus-raise {
  color: #5e5e5e;
  font-size: 20px;
  padding-right: 40%;
  padding-top: 5%;
}

.sus-textImage .sus-textImage-1 .sus-Increase-image {
  padding-top: 20%;
}

.sus-textImage .sus-textImage-1 .sus-Increase-image .sus-image1 {
  width: 800px;
}

@media (min-width: 370px) and (max-width: 800px) {
  .sus-textImage .sus-textImage-1 {
    display: block;
  }
  .sus-textImage .sus-textImage-1 .sus-Increase-image .sus-image1 {
    width: 470px;
  }
}

.sus-textImage .sus-textImage-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50%;
}

.sus-textImage .sus-textImage-3 .sus-Satisfy-text {
  width: 50%;
  height: 100%;
  padding-top: 40%;
  padding-left: 10%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sus-textImage .sus-textImage-3 .sus-Satisfy-text .sus-why {
  color: #d4352a;
  padding-top: 50%;
  padding-bottom: 5%;
}

@media (min-width: 370px) and (max-width: 800px) {
  .sus-textImage .sus-textImage-3 .sus-Satisfy-text .sus-why {
    padding-top: 500px;
  }
}

.sus-textImage .sus-textImage-3 .sus-Satisfy-text .sus-Satisfy {
  font-size: 60px;
}

@media (min-width: 370px) and (max-width: 800px) {
  .sus-textImage .sus-textImage-3 .sus-Satisfy-text .sus-Satisfy {
    font-size: 30px;
    padding-top: 10px;
  }
}

.sus-textImage .sus-textImage-3 .sus-Satisfy-text .sus-ensure {
  color: #5e5e5e;
  font-size: 20px;
  padding-right: 40%;
  padding-top: 5%;
}

.sus-textImage .sus-textImage-3 .sus-Satisfy-image {
  padding-top: 40%;
}

.sus-textImage .sus-textImage-3 .sus-Satisfy-image .sus-image3 {
  width: 800px;
}

@media (min-width: 370px) and (max-width: 800px) {
  .sus-textImage .sus-textImage-3 {
    display: block;
  }
  .sus-textImage .sus-textImage-3 .sus-Satisfy-image .sus-image3 {
    width: 470px;
    padding-top: 30%;
  }
}

.sus-climate-action {
  padding-top: 85%;
  position: relative;
}

.sus-climate-action .sus-climate {
  padding-left: 10%;
  color: #d4352a;
}

@media (min-width: 370px) and (max-width: 800px) {
  .sus-climate-action .sus-climate {
    padding-left: 10%;
    color: #d4352a;
  }
}

.sus-climate-action .sus-exceed {
  font-size: 60px;
  padding-left: 10%;
  padding-top: 7%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (min-width: 370px) and (max-width: 800px) {
  .sus-climate-action .sus-exceed {
    font-size: 20px;
    padding-left: 10%;
    padding-top: 80%;
  }
}

.sus-climate-action .sus-with {
  padding-left: 23%;
}

.sus-climate-action .sus-decrease {
  color: #5e5e5e;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  padding-right: 10%;
  padding-left: 60%;
  padding-top: 20%;
}

@media (min-width: 370px) and (max-width: 800px) {
  .sus-climate-action .sus-decrease {
    font-size: 10px;
    padding-left: 60%;
    padding-top: 40%;
  }
}

.sus-toggle-main {
  margin-left: 15%;
  padding-top: 10%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sus-toggle-main .sus-check {
  width: 30px;
}

.sus-toggle-main .sus-toggle-item-text {
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  font-size: 25px;
  padding-left: 30px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.sus-toggle-main .sus-toggle-item-inner {
  display: none;
  margin-left: 3%;
  padding-top: 2%;
  font-size: 25px;
}

.sus-toggle-main .sus-button-onclick {
  margin-left: 60%;
  margin-top: 5%;
  border: none;
  width: 40px;
  height: 40px;
  font-size: 40px;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

@media (min-width: 370px) and (max-width: 800px) {
  .sus-toggle-main .sus-button-onclick {
    margin-left: 4%;
  }
}

.sus-toggle-main .sus-button-onclick1 {
  margin-left: 50.5%;
  margin-top: 5%;
  border: none;
  width: 40px;
  height: 40px;
  font-size: 40px;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

@media (min-width: 370px) and (max-width: 800px) {
  .sus-toggle-main .sus-button-onclick1 {
    margin-left: 5%;
  }
}

.sus-toggle-main .sus-button-onclick:hover {
  color: #d4352a;
}

.sus-toggle-main .sus-button-onclick1:hover {
  color: #d4352a;
}

.sus-toggle-main .sus-toggle-item-text:hover {
  color: #d4352a;
}

.sus-textImage2 {
  padding-left: 40%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sus-textImage2 .sus-text-our {
  font-size: 50px;
  padding-top: 30%;
}

@media (min-width: 370px) and (max-width: 800px) {
  .sus-textImage2 .sus-text-our {
    font-size: 25px;
    padding-top: 30%;
  }
}

.sus-textImage2 .sus-our {
  padding-left: 25%;
}

.sus-textImage2 .sus-img-venne {
  width: 150px;
  border-radius: 5%;
  padding-top: 10%;
}

.sus-textImage2 .sus-nameVenne {
  font-size: 25px;
}

.sus-textImage2 .sus-co-founder {
  font-size: 15px;
  color: #5e5e5e;
  padding-left: 14%;
}

.sus-sustainability-lidership {
  padding-top: 10%;
  padding-bottom: 10%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sus-sustainability-lidership .sus-lidership {
  color: #d4352a;
  padding-left: 10%;
}

.sus-sustainability-lidership .sus-our-impact {
  font-size: 60px;
  padding-left: 5%;
  padding-top: 7%;
}

@media (min-width: 370px) and (max-width: 800px) {
  .sus-sustainability-lidership .sus-our-impact {
    font-size: 25px;
    padding-left: 5%;
    padding-top: 7%;
    padding-bottom: 10%;
  }
}

.sus-sustainability-lidership .sus-collab {
  padding-left: 10%;
}

.sus-talk {
  position: relative;
}

.sus-talk .sus-save-time {
  background-color: #d4352a;
  color: #fff;
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  position: absolute;
  top: -50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 2% 13% 15% 2%;
}

@media (min-width: 370px) and (max-width: 800px) {
  .sus-talk .sus-save-time {
    font-size: 10px;
  }
}

.sus-talk .sus-image-lance {
  width: 100%;
}

@media (min-width: 370px) and (max-width: 800px) {
  .sus-talk .sus-image-lance {
    width: 470px;
  }
}

@media (min-width: 370px) and (max-width: 800px) {
  .sus-climate-action {
    padding-top: 900px;
  }
}

@media screen and (max-width: 768px) {
  .navbar-main-container .navbar-inner-container .navbar-logo {
    font-size: 2rem;
  }
  .navbar-main-container .navbar-inner-container .navbar-nav-items-container .navbar-nav-items-inner {
    display: none;
  }
  .navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-left {
    display: none;
  }
  .navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right {
    width: 100%;
  }
  .navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-right-menu-icon {
    display: none;
  }
  .navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container .menu-inner-right .menu-inner-img {
    display: none;
  }
  .navbar-main-container .navbar-inner-container .navbar-nav-items-container .menu-main-container .menu-inner-container.menu-inner-container-on {
    position: fixed;
    top: 100px;
  }
}
/*# sourceMappingURL=sustainability.css.map */